.bg-color__pale-yellow {
    background-color:$pale-yellow;
}

.bg-color__pale-blue {
    background-color:$pale-blue;
}

.bg-color__white {
    background-color:$white;
}

.color-white {
    color:$white;
}